body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(13, 128, 51);
    text-align: center;
    color: white;
}

h1 {
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    text-align: center;
    background-color: goldenrod;
    color: rgb(13, 128, 51);
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(13, 128, 51);
    color: goldenrod;
    border: 2px solid goldenrod;
  }